<!-- named with underscore becuase its a partial file -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if session.logged_in %}
        <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
        </li>
        {% endif %}
        {% if session.logged_in %}
        <li class="nav-item">
          <a class="nav-link" href="/locations">Location</a>
        </li>
        {% endif %}
        {% if session.logged_in %}
        <li class="nav-item">
          <a class="nav-link" href="/product_movements">Product Movements</a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav navbar-right">
        {% if session.logged_in %}
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
          <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
          <li class="nav-item"><a class="nav-link" href="/">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <script>
    window.watsonAssistantChatOptions = {
      integrationID: "23cf2ee1-6adf-4200-8c6b-65f92d35c10f", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "681ba278-a182-4a8f-acaf-b9c145c2475a", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>